.buttonWrapper {
    display: flex;
}
.button {
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
}
.button:not(:last-child) {
    margin-right: 20px;
}
.button:hover {
    background: aqua;
    transition: all ease 0.3s;
}
.button:active {
    transform: scale(1.1);
}